body {
  font-family: 'Roboto', sans-serif;
}


.logo {
  width: 45px;
  height: 45px;
  margin: 10px auto;
  border-radius: 50%;
  background-color: pink;

}

.logo_img {
  width: 30px;
  height: 30px;
  margin-top: 6px;
}

.link {
  text-decoration: none;
  color: #1382b6;
  font-size: 10px;
  display: inline;
}

.link_button {
  background-color: darkcyan;
  border-radius: 3px;
  color:khaki;
  margin: 10px;
  padding: 5px;
}

input.green {
  border:1px solid rgba(49, 255, 49, 0.507);
}
input.red {
  border:1px solid rgba(228, 81, 81, 0.781);
}
